RewriteEngine On
RewriteCond %{HTTP_HOST} www.projvap.cf
RewriteRule (.*) https://projvap.cf/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
